run = "npm run start"
modules = ["nodejs-23", "python-3.12"]

[deployment]
run = ["sh", "-c", "./run.sh"]

[[ports]]
localPort = 5001
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
mode = "sequential"
author = 7378827

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./run.sh"
